src/db.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="database" type="databaseType"/>
  <xs:complexType name="goodType">
    <xs:sequence>
      <xs:element name="name">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:pattern value="[A-Za-z]+"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="proiz">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:pattern value="[A-Za-z]+"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="mat">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:pattern value="[A-Za-z]+"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="data">
        <xs:simpleType>
          <xs:restriction base="xs:double">
            <xs:minInclusive value="01.01"/>
            <xs:maxInclusive value="31.12"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
    </xs:sequence>
  <xs:attribute type="xs:int" name="nomer" use="required"/>
</xs:complexType>
<xs:complexType name="goodsType">
<xs:sequence>
  <xs:element type="goodType" name="good" maxOccurs="unbounded" minOccurs="0"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="databaseType">
<xs:sequence>
  <xs:element type="goodsType" name="goods"/>
</xs:sequence>
</xs:complexType>
        </xs:schema>












